@use '../../../../abstract';

.todo-item-container {
  display: grid;
  grid-template-columns: 1fr 2fr 50px;
  font-family: abstract.$font-family;
  font-size: abstract.$font-size;

  :is(textarea, input) {
    border: none;
    outline: none;
    overflow: overlay;
    border-bottom: 1px solid abstract.$navy_blue;
    transition: border 250ms ease;

    &:focus,
    &:hover {
      border-left: 1px solid abstract.$navy_blue;
      border-right: 1px solid abstract.$navy_blue;
    }
  }

  & > .todo-item {
    padding: 15px;
    text-align: left;
    vertical-align: center;
    border-bottom: 1px solid abstract.$navy_blue;
    font-family: inherit;
  }

  & > .description {
    resize: none;
  }
}
