@use '../../../../abstract';

.container {
  border-top: 1px solid abstract.$navy_blue;
  display: flex;
  flex-wrap: wrap;
}

.todo-item {
  min-width: 25%;
  max-width: 100%;
  flex-basis: calc(calc(70em - 100%) * 999);
  height: 100%;
}

button {
  margin: 15px;
  margin-left: 0;
}
